
/* Full page background with gradient */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}



.main-content-wrapper {
  height: calc(100vh - 70px); /* Adjust height minus navbar height */
  display: flex;
  justify-content: center;
  align-items: center;
}
